<master-layout
    title="{{ isEdit ? 'enterprise.Users.detail' : 'enterprise.Users.create' }}"
    [showBack]="true"
>
    <div class="flex justify-start">
        <p-button
            [label]="'enterprise.Users.managePasskey' | translate"
            severity="info"
            (onClick)="navigateToPasskey()"
            iconPos="right"
            icon="pi pi-key"
            class="*:min-w-28"
        />
    </div>
    <form
        [formGroup]="formGroup"
        class="py-2 sm:mt-5 sm:px-5"
    >
        @if (isEdit) {
            <!--   createdDate   -->
            <div class="my-3 mb-8 grid grid-cols-12 items-center gap-2 sm:gap-4">
                <label
                    for="email"
                    class="col-span-12 font-normal sm:col-span-3"
                    >{{ 'enterprise.Users.createdDate' | translate }}</label
                >
                <p-fluid class="col-span-12 *:w-full sm:col-span-6">
                    <p-datepicker
                        formControlName="createdDate"
                        [showTime]="true"
                    ></p-datepicker>
                </p-fluid>
            </div>
        }

        <!-- Email -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="email"
                class="col-span-12 font-normal sm:col-span-3"
                >{{ 'enterprise.Users.email' | translate }}</label
            >
            <div class="col-span-12 sm:col-span-6">
                <input
                    formControlName="email"
                    class="w-full"
                    type="text"
                    id="email"
                    pInputText
                    [placeholder]="'enterprise.Users.placeholders.enterEmail' | translate"
                />
                <form-field-error></form-field-error>
            </div>
        </div>

        <!-- First Name -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="firstName"
                class="col-span-12 font-normal sm:col-span-3"
                >{{ 'enterprise.Users.firstName' | translate }}</label
            >
            <div class="col-span-12 sm:col-span-6">
                <input
                    formControlName="firstName"
                    class="w-full"
                    type="text"
                    id="firstName"
                    pInputText
                    [placeholder]="'enterprise.Users.placeholders.enterFirstName' | translate"
                />
                <form-field-error></form-field-error>
            </div>
        </div>

        <!-- Last Name -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="lastName"
                class="col-span-12 font-normal sm:col-span-3"
                >{{ 'enterprise.Users.lastName' | translate }}</label
            >
            <div class="col-span-12 sm:col-span-6">
                <input
                    formControlName="lastName"
                    class="w-full"
                    type="text"
                    id="lastName"
                    pInputText
                    [placeholder]="'enterprise.Users.placeholders.enterLastName' | translate"
                />
                <form-field-error></form-field-error>
            </div>
        </div>

        <div class="flex justify-end gap-4 *:min-w-24">
            <p-button
                [label]="'common.revert' | translate"
                styleClass="w-full"
                severity="secondary"
                (onClick)="reset()"
            ></p-button>

            <p-button
                [label]="(isEdit ? 'common.save' : 'common.create') | translate"
                styleClass="w-full"
                severity="primary"
                [disabled]="disableSubmitButton"
                (onClick)="submit()"
            ></p-button>
        </div>
    </form>
</master-layout>
