<master-layout title="tenant.profile.title">
    <form
        [formGroup]="formGroup"
        unsavedChanges
        id="tenantProfileForm"
    >
        <!-- Email -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="email"
                class="col-span-12 font-normal sm:col-span-3"
            >
                {{ 'tenant.profile.email' | translate }} *
            </label>
            <div class="col-span-12 sm:col-span-9">
                <input
                    pInputText
                    type="email"
                    id="email"
                    formControlName="email"
                    class="p-inputtext w-full rounded-r-md"
                />
            </div>
            <form-field-error></form-field-error>
        </div>

        <!-- Name -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="name"
                class="col-span-12 font-normal sm:col-span-3"
            >
                {{ 'tenant.profile.name' | translate }} *
            </label>
            <div class="col-span-12 sm:col-span-9">
                <input
                    pInputText
                    id="name"
                    formControlName="name"
                    class="p-inputtext w-full rounded-r-md"
                />
            </div>
            <form-field-error></form-field-error>
        </div>

        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="taxCode"
                class="col-span-12 font-normal sm:col-span-3"
                >{{ 'enterprise.create.taxCode' | translate }} *</label
            >
            <div class="col-span-12 sm:col-span-9">
                <input
                    formControlName="taxCode"
                    class="w-full"
                    type="text"
                    id="taxCode"
                    pInputText
                    [placeholder]="'enterprise.create.placeholders.enterTaxCode' | translate"
                />
                <form-field-error></form-field-error>
            </div>
        </div>

        <!-- Address -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="address"
                class="col-span-12 font-normal sm:col-span-3"
                >{{ 'enterprise.create.address' | translate }} *</label
            >
            <div class="col-span-12 sm:col-span-9">
                <input
                    formControlName="address"
                    class="w-full"
                    type="text"
                    id="address"
                    pInputText
                />
                <form-field-error></form-field-error>
            </div>
        </div>

        <!-- Hotline -->
        <div
            class="my-3 grid grid-cols-12 items-center gap-2 sm:gap-4"
            errorMessages
        >
            <label
                for="hotline"
                class="col-span-12 font-normal sm:col-span-3"
            >
                {{ 'tenant.profile.hotline' | translate }} *
            </label>
            <div class="col-span-12 sm:col-span-9">
                <input
                    pInputText
                    id="hotline"
                    formControlName="hotline"
                    class="p-inputtext w-full rounded-r-md"
                />
            </div>
            <form-field-error></form-field-error>
        </div>
    </form>

    <div class="mt-4 flex justify-end gap-4">
        <button
            pButton
            type="button"
            icon="pi pi-refresh"
            (click)="reset()"
            label="{{ 'common.revert' | translate }}"
            outlined
        ></button>
        <p-button
            type="submit"
            icon="pi pi-save"
            [label]="'common.save' | translate"
            (onClick)="submit()"
        ></p-button>
    </div>
</master-layout>
