<master-layout
    title="enterprise.type.name"
    [showBack]="true"
>
    <div subtitle>
        {{ 'enterprise.type.description' | translate }}
    </div>

    <table-template
        [fetch]="fetchActivityTypes"
        [columns]="cols"
        [criteria]="searchCriteria"
        [searchOnInit]="true"
        [triggerSearch]="searchEvent"
        [triggerClearSelected]="clearSelectedEvent"
        [captionTemplateRef]="captionTemplateRef"
        [checkbox]="true"
        (selectionChange)="onSelectionChange($event)"
    />
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    [(ngModel)]="searchCriteria.name"
                    type="text"
                    pInputText
                    placeholder="{{ 'common.search' | translate }}"
                    (keydown.enter)="searchEvent.emit()"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="searchEvent.emit()"
            />
        </div>
        <div class="flex gap-2.5">
            <p-button
                severity="danger"
                [label]="
                    selected.length
                        ? ('enterprise.type.deleteWithCount' | translate: {count: selected.length})
                        : ('enterprise.Users.delete' | translate)
                "
                icon="pi pi-trash"
                outlined
                [disabled]="!selected || !selected.length"
                (onClick)="confirmDelete()"
            />
            <p-button
                severity="primary"
                [label]="'enterprise.type.add' | translate"
                icon="pi pi-user-plus"
                outlined
                (onClick)="addActivityType()"
            />
        </div>
    </div>
</ng-template>
<ng-template
    #actionsTemplate
    let-rowData
>
    <div class="flex">
        <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="onEdit(rowData)"
        />
        <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (onClick)="onDelete(rowData)"
        />
    </div>
</ng-template>
