<master-layout title="sidebar.owner.settings.items.powerBiAccessToken">
    <div class="flex w-full items-center justify-between">
        <div
            *ngIf="accessTokens.length === 0"
            subtitle
        >
            {{ 'powerBi.accessToken.description' | translate }}
        </div>
        <p-button
            icon="pi pi-question"
            [rounded]="true"
            (click)="userGuidePowerBi()"
            severity="primary"
        />
    </div>

    <div
        *ngIf="accessTokens.length > 0"
        actions
    >
        <ng-container *ngTemplateOutlet="generateNewToken"></ng-container>
    </div>
    <div
        *ngIf="accessTokens.length > 0"
        subtitle
    >
        {{ 'powerBi.tokenGenerated' | translate }}
    </div>
    <div
        class="flex w-full flex-col justify-center gap-4 border-b"
        *ngIf="accessTokens.length > 0"
    >
        <p-floatlabel variant="in">
            <input
                pInputText
                id="tokenInput"
                [(ngModel)]="userToken"
            />
            <label for="tokenInput">{{ 'powerBi.enterAccessToken' | translate }}</label>
        </p-floatlabel>
        <p>{{ 'powerBi.generatedUrlMessage' | translate }}</p>
        <div
            *ngIf="userToken.length > 0"
            class="mb-2 p-2"
        >
            <div class="w-full">
                <code class="break-all text-gray-700">{{ getUrl(userToken) }}</code>
            </div>
            <p-button
                icon="pi pi-external-link"
                class="mr-2"
                outlined
                iconPos="right"
                (click)="goToLink(getUrl(userToken))"
                [label]="'common.goToLink' | translate"
            >
            </p-button>
            <p-button
                icon="pi pi-copy"
                severity="info"
                outlined
                iconPos="right"
                (click)="copyToClipboard(getUrl(userToken))"
                [label]="'common.copy' | translate"
            >
            </p-button>
        </div>
    </div>

    <ng-container *ngIf="accessTokens.length > 0; else noTokens">
        @if (newestCreatedTokenId && newestCreatedTokenKey) {
            <p-message
                severity="warn"
                icon="pi pi-bell"
                text="{{ 'powerBi.messageMakeSure' | translate }}"
                class="h-full"
            />
            <div class="rounded-lg border">
                <div class="rounded-t bg-green-100 p-3 text-black">
                    <i class="pi pi-check text-green-700"></i>
                    {{ newestCreatedTokenKey }}
                    <i
                        class="pi pi-copy text-primary hover:cursor-pointer"
                        (click)="copyToClipboard(newestCreatedTokenKey)"
                    ></i>
                </div>
                <ng-container
                    *ngTemplateOutlet="tokenRowTemplate; context: {$implicit: newestCreatedToken}"
                ></ng-container>
            </div>
        }

        <div
            *ngIf="accessTokens.length > 0 && accessTokens[0].id !== newestCreatedTokenId"
            class="rounded-lg border"
        >
            @for (token of accessTokens; track token.id) {
                @if (token.id !== newestCreatedTokenId) {
                    <div class="border-b last:border-b-0">
                        <ng-container *ngTemplateOutlet="tokenRowTemplate; context: {$implicit: token}"></ng-container>
                    </div>
                }
            }
        </div>
    </ng-container>
</master-layout>

<ng-template #generateNewToken>
    @if (isMobile) {
        <p-button
            icon="pi pi-plus"
            outlined
            (onClick)="navigateToDetail()"
        />
    } @else {
        <p-button
            [label]="'powerBi.buttonGenerateToken' | translate"
            outlined
            (onClick)="navigateToDetail()"
        />
    }
</ng-template>

<ng-template #noTokens>
    <div class="flex h-96 flex-col items-center justify-center gap-4">
        <i class="pi pi-key text-2xl"></i>
        <h3 class="text-xl font-semibold">
            {{ 'powerBi.noAccessToken' | translate }}
        </h3>
        <p class="text-base">
            {{ 'powerBi.description' | translate }}
        </p>
        <ng-container *ngTemplateOutlet="generateNewToken"></ng-container>
    </div>
</ng-template>

<ng-template
    #tokenRowTemplate
    let-token
>
    <div class="p-3">
        <div class="flex flex-col items-baseline justify-between lg:flex-row lg:gap-4">
            <div>
                <strong
                    class="text-primary hover:cursor-pointer"
                    (click)="navigateToDetail(token.id)"
                    >{{ token.note }}</strong
                >
                —
                <span class="text-sm italic">
                    {{ token.scope }}
                </span>
            </div>
            <div class="flex w-full items-center justify-between gap-3 lg:w-fit">
                <div class="min-w-fit text-xs">
                    {{
                        token.lastUsed
                            ? ('powerBi.lastUsed'
                              | appTranslateParam
                                  : {
                                        lastUsed: (token.lastUsed | date: 'EEE, MMM dd yyyy')
                                    })
                            : ('powerBi.neverUsed' | translate)
                    }}
                </div>
                <p-button
                    label="{{ 'powerBi.delete' | translate }}"
                    severity="danger"
                    outlined
                    (onClick)="showDeleteConfirmDialog(token.id)"
                />
            </div>
        </div>
        <p class="mt-1 text-sm italic">
            {{ 'powerBi.expirationOn' | translate }}
            {{ token.expirationTime | date: 'EEE, MMM dd yyyy' }}.
        </p>
    </div>
</ng-template>
