<ng-container *ngIf="accessTokens.length > 0; else noTokens">
    <div class="flex items-center justify-between border-b pb-1">
        <p class="text-lg font-bold text-primary">
            {{ "sidebar.owner.settings.items.powerBiAccessToken" | translate }}
        </p>
        <ng-container *ngTemplateOutlet="generateNewToken"></ng-container>
    </div>

    <p>
        {{ "powerBi.tokenGenerated" | translate }}
    </p>

    @if (newestCreatedTokenId && newestCreatedTokenKey) {
        <p-message
            severity="info"
            icon="pi pi-bell"
            text="Make sure to copy your access token now. You won’t be able to see it again!"
            class="h-full"
        />
        <div class="rounded-lg border">
            <div class="rounded-t bg-green-100 p-3 text-black">
                <i class="pi pi-check text-green-700"></i>
                {{ newestCreatedTokenKey }}
                <i
                    class="pi pi-copy text-primary hover:cursor-pointer"
                    (click)="copyToClipboard(newestCreatedTokenKey)"
                ></i>
            </div>
            <ng-container
                *ngTemplateOutlet="
                    tokenRowTemplate;
                    context: { $implicit: newestCreatedToken }
                "
            ></ng-container>
        </div>
    }

    <div
        *ngIf="
            accessTokens.length > 0 &&
            accessTokens[0].id !== newestCreatedTokenId
        "
        class="rounded-lg border"
    >
        @for (token of accessTokens; track token.id) {
            @if (token.id !== newestCreatedTokenId) {
                <div class="border-b last:border-b-0">
                    <ng-container
                        *ngTemplateOutlet="
                            tokenRowTemplate;
                            context: { $implicit: token }
                        "
                    ></ng-container>
                </div>
            }
        }
    </div>
</ng-container>

<ng-template #generateNewToken>
    <p-button
        [label]="'powerBi.buttonGenerateToken' | translate"
        outlined
        size="small"
        (onClick)="navigateToDetail()"
    />
</ng-template>

<ng-template #noTokens>
    <div class="flex items-center justify-between border-b py-2">
        <p class="text-lg font-bold text-primary">
            {{ "sidebar.owner.settings.items.powerBiAccessToken" | translate }}
        </p>
    </div>
    <div class="flex h-96 flex-col items-center justify-center gap-4">
        <i class="pi pi-key text-2xl"></i>
        <h3 class="text-xl font-semibold">
            {{ "powerBi.noAccessToken" | translate }}
        </h3>
        <p class="text-base">
            {{ "powerBi.description" | translate }}
        </p>
        <ng-container *ngTemplateOutlet="generateNewToken"></ng-container>
    </div>
</ng-template>

<ng-template #tokenRowTemplate let-token>
    <div class="p-3">
        <div class="flex items-baseline justify-between gap-4">
            <div>
                <strong
                    class="text-primary hover:cursor-pointer"
                    (click)="navigateToDetail(token.id)"
                    >{{ token.note }}</strong
                >
                —
                <span class="text-sm italic">
                    {{ token.scope }}
                </span>
            </div>
            <div class="flex min-w-fit items-center gap-3">
                <div class="min-w-fit text-xs">
                    {{ "powerBi.lastUsed" | translate }}
                    {{
                        token.lastUsed
                            ? (token.lastUsed | date: "EEE, MMM dd yyyy")
                            : "Never used"
                    }}
                </div>
                <p-button
                    label="{{ 'powerBi.delete' | translate }}"
                    severity="danger"
                    size="small"
                    outlined
                    (onClick)="showDeleteConfirmDialog(token.id)"
                />
            </div>
        </div>
        <p class="mt-1 text-sm italic">
            {{ "powerBi.expirationOn" | translate }}
            {{ token.expirationTime | date: "EEE, MMM dd yyyy" }}.
        </p>
    </div>
</ng-template>
