<master-layout
    title="enterprise.buildings.commonActivity.title"
    [showBack]="true"
>
    <div subtitle>{{ 'enterprise.buildings.commonActivity.description' | translate }}</div>

    <div actions>
        <p-button
            label="{{ 'buildingGroup.enterprise.emission.activity.new' | translate }}"
            icon="pi pi-plus"
            severity="primary"
            (onClick)="openNewActivityDialog()"
        ></p-button>
    </div>

    <table-template
        [fetch]="fetchActivity"
        [columns]="cols"
        [searchOnInit]="false"
        [captionTemplateRef]="captionTemplateRef"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
        [triggerClearSelected]="clearSelectedEvent"
        (selectionChange)="onSelectionChange($event)"
        [checkbox]="true"
    />
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center">
        <p-inputgroup class="max-w-96">
            <input
                type="text"
                pInputText
                [(ngModel)]="searchCriteria.name"
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="searchEvent.emit()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    variant="text"
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>

        <p-button
            severity="danger"
            [label]="
                selected.length
                    ? ('enterprise.emission.activity.deleteWithCount' | translate: {count: selected.length})
                    : ('enterprise.Users.delete' | translate)
            "
            icon="pi pi-trash"
            outlined
            [disabled]="!selected || !selected.length"
            (onClick)="confirmDelete()"
        />
    </div>
</ng-template>
<ng-template
    #actionsTemplate
    let-activity
>
    <p-button
        icon="pi pi-file-edit"
        [rounded]="true"
        [text]="true"
        severity="contrast"
        (onClick)="openActivityDetailsDialog(activity)"
    />
</ng-template>
<ng-template
    #typeTemplate
    let-activity
>
    <span *ngIf="activity.type">{{ activity?.type.name }}</span>
</ng-template>
