<div class="mb-4 flex items-center justify-between border-b pb-1">
    <h1 class="text-lg font-bold text-primary">
        {{ "enterprise.buildings.management.title1" | translate }}
    </h1>
</div>
<p>
    {{ "enterprise.buildings.management.description" | translate }}
</p>

<div *ngFor="let group of buildingGroups">
    <div
        class="rounded-lg border border-gray-300 bg-white p-6 shadow-sm dark:border-gray-600 dark:bg-gray-800"
    >
        <h2 class="mb-2 text-xl font-semibold text-gray-800 dark:text-gray-100">
            Group: {{ group.name }}
        </h2>

        <p class="mb-1 text-sm text-gray-600 dark:text-gray-300">
            <span class="font-medium">Description:</span>
            {{ group.description || "No description provided." }}
        </p>

        <p class="mb-1 text-sm text-gray-600 dark:text-gray-300">
            <span class="font-medium">Building:</span>
            {{ group.building.name }}
        </p>

        <p class="text-sm text-gray-600 dark:text-gray-300">
            <span class="font-medium">Address:</span>
            {{ group.building.address }}
        </p>

        <div class="mt-4">
            <button
                class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600"
                (click)="goToDetails(group.id)"
            >
                View Details
            </button>
        </div>
    </div>
</div>
