<master-layout title="sidebar.admin.enterprise">
    <div subtitle>{{ 'admin.enterprise.description' | translate }}</div>
    <table-template
        [fetch]="fetchEnterprises"
        [columns]="cols"
        [sort]="undefined"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
        [captionTemplateRef]="captionTemplateRef"
        [checkbox]="false"
    />
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center">
        <p-inputgroup class="max-w-96">
            <input
                [(ngModel)]="searchCriteria.criteria"
                type="text"
                pInputText
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="search()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    text
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</ng-template>
