<div *ngIf="buildingDetail">
    <div class="mb-2 md:w-1/2">
        <p-card header="{{ buildingDetail.name }}">
            <ng-template pTemplate="subtitle">
                <i class="pi pi-map-marker"></i>
                {{ buildingDetail.address }}
            </ng-template>
            <p-fieldset
                legend="{{
                    'enterprise.emission.activity.subscriptionDetail'
                        | translate
                }}"
                collapsed="true"
                [toggleable]="true"
            >
                <p>
                    <i class="pi pi-star"></i>
                    {{
                        "enterprise.emission.activity.maxNoActivities"
                            | translate
                    }}
                    {{ buildingDetail.subscriptionDTO?.maxNumberOfDevices }}
                </p>
                <p>
                    <i class="pi pi-calendar"></i>
                    {{
                        "enterprise.emission.activity.subscriptionDuration"
                            | translate
                    }}

                    {{
                        buildingDetail.subscriptionDTO?.startDate
                            | date: "dd/MM/yyyy"
                    }}
                    -
                    {{
                        buildingDetail.subscriptionDTO?.endDate
                            | date: "dd/MM/yyyy"
                    }}
                </p>
                <p>
                    <i class="pi pi-hourglass"></i>
                    {{
                        "enterprise.emission.activity.remainingDays" | translate
                    }}
                    {{ getRemainingDays() }}
                </p>
            </p-fieldset>
            <ng-template pTemplate="footer">
                <div class="flex gap-4 mt-1">
                    <p-button
                        label="Generate Report"
                        class="flex-1"
                        severity="success"
                        styleClass="w-full h-12"
                    ></p-button>

                    <p-button
                        label="{{
                            'enterprise.emission.activity.new' | translate
                        }}"
                        class="flex-1"
                        (onClick)="openNewActivityDialog()"
                        severity="primary"
                        styleClass="w-full h-12"
                    ></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<table-template
    *ngIf="!applicationService.isMobile()"
    [fetch]="fetchActivity"
    [columns]="cols"
    [searchOnInit]="false"
    [captionTemplateRef]="captionTemplateRef"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [triggerClearSelected]="clearSelectedEvent"
    (selectionChange)="onSelectionChange($event)"
    [checkbox]="true"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="searchCriteria.name"
                    placeholder="{{ 'common.search' | translate }}"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="searchEvent.emit()"
            />
        </div>
        <div class="flex gap-2.5">
            <p-button
                severity="danger"
                [label]="
                    selected.length
                        ? ('enterprise.emission.activity.deleteWithCount'
                          | translate: { count: selected.length })
                        : ('enterprise.Users.delete' | translate)
                "
                icon="pi pi-trash"
                outlined
                [disabled]="!selected || !selected.length"
                (onClick)="confirmDelete()"
            />
        </div>
    </div>
</ng-template>
<ng-template #actionsTemplate let-activity>
    <p-button
        icon="pi pi-file-edit"
        [rounded]="true"
        [text]="true"
        severity="contrast"
        (onClick)="openActivityDetailsDialog(activity)"
    />
</ng-template>
