<p-button
    (onClick)="back()"
    class="*:min-w-28"
    label="{{ 'common.back' | translate }}"
    severity="primary"
    outlined="true"
    icon="pi pi-arrow-left"
    size="small"
/>
<div class="mt-4 px-5">
    @if (isEdit) {
        <h1 class="text-lg font-bold">
            {{ "enterprise.buildings.details.edit" | translate }}
        </h1>
    } @else {
        <h1 class="text-lg font-bold">
            {{ "enterprise.buildings.details.create" | translate }}
        </h1>
    }
</div>
<form [formGroup]="formGroup" class="p-5 sm:mt-5">
    <!-- number of credit -->
    <div class="my-3 grid grid-cols-12 items-baseline gap-4" errorMessages>
        <label
            for="numberOfCredits"
            class="col-span-12 font-normal md:col-span-3"
            >{{ "admin.packageCredit.table.numberCredit" | translate }}</label
        >
        <div class="col-span-12 md:col-span-6">
            <input
                formControlName="numberOfCredits"
                class="w-full"
                type="number"
                id="numberOfCredits"
                pInputText
                [placeholder]="
                    'admin.packageCredit.input.enterNumberCredit' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- price -->
    <div class="my-3 grid grid-cols-12 items-baseline gap-4" errorMessages>
        <label for="price" class="col-span-12 font-normal md:col-span-3">{{
            "admin.packageCredit.table.price" | translate
        }}</label>
        <div class="col-span-12 md:col-span-6">
            <input
                formControlName="price"
                class="w-full"
                type="number"
                id="price"
                pInputText
                [placeholder]="
                    'admin.packageCredit.input.enterPrice' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- discount -->
    <div class="my-3 grid grid-cols-12 items-baseline gap-4" errorMessages>
        <label for="discount" class="col-span-12 font-normal md:col-span-3">{{
            "admin.packageCredit.table.discount" | translate
        }}</label>
        <div class="col-span-12 md:col-span-6">
            <input
                formControlName="discount"
                class="w-full"
                type="number"
                id="discount"
                pInputText
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-4 *:min-w-24 md:justify-start">
        <!-- Create Button -->
        <p-button
            [label]="(isEdit ? 'common.save' : 'common.create') | translate"
            styleClass="w-full"
            severity="primary"
            [disabled]="disableSubmitButton"
            (onClick)="submit()"
        ></p-button>

        <!-- Revert Button -->
        <p-button
            [label]="'common.revert' | translate"
            styleClass="w-full"
            severity="secondary"
            (onClick)="reset()"
        ></p-button>
    </div>
</form>
