<master-layout title="enterprise.buildings.overview.title">
    <div actions>
        <p-button
            severity="primary"
            [label]="'enterprise.buildings.overview.btn.add' | translate"
            icon="pi pi-building"
            (onClick)="navigateToCreateBuilding()"
        />
    </div>

    <p-selectbutton
        (onChange)="onViewModeChanged()"
        [options]="justifyOptions"
        [(ngModel)]="viewMode"
        optionValue="value"
    >
        <ng-template
            #item
            let-item
        >
            <i [class]="item.icon"></i>
        </ng-template>
    </p-selectbutton>

    @if (listView) {
        @if (buildings.length === 0) {
            <p class="px-3 py-4">
                {{ 'enterprise.buildings.overview.noRow' | translate }}
            </p>
        }
        @for (building of buildings; track building.id) {
            <ng-container *ngTemplateOutlet="cardTemplate; context: {$implicit: building}"></ng-container>
        }
    }
</master-layout>

<!-- Don't move this component to master-layout because this especially component need to initialize as soon as possible-->
<div
    [hidden]="listView"
    class="mt-4 h-full"
    id="map"
></div>

<ng-template
    #cardTemplate
    let-building
>
    <div
        class="rounded border-t-2 shadow *:w-full"
        [class]="building.subscriptionDTO ? 'border-t-primary' : 'border-t-yellow-500'"
    >
        <div
            class="flex flex-col justify-between gap-4 rounded-t p-2 lg:flex-row lg:gap-0 lg:p-4"
            [class]="building.subscriptionDTO ? 'bg-primary-50 dark:bg-primary-950' : 'bg-yellow-50 dark:bg-yellow-950'"
        >
            <div class="flex items-baseline gap-2">
                <i class="pi pi-building"></i>
                <div class="text-xl font-bold">{{ building.name }}</div>
            </div>
            <div class="flex justify-end">
                <p-button
                    (onClick)="viewBuildingDetails(building.id)"
                    icon="pi pi-info"
                    text
                    severity="info"
                />
                <p-button
                    icon="pi pi-map"
                    text
                    (onClick)="zoomTo(building.latitude, building.longitude)"
                />
                <p-button
                    *ngIf="!building.subscriptionDTO"
                    icon="pi pi-trash"
                    severity="danger"
                    text
                    (onClick)="confirmDelete(building.id)"
                />
                <p-button
                    (onClick)="viewHistoryUseCredit(building.id)"
                    icon="pi pi-history"
                    text
                    severity="secondary"
                />
            </div>
        </div>
        <div class="border-b p-2 lg:p-4 dark:bg-black">
            <div class="flex flex-col gap-4 lg:flex-row lg:gap-16">
                <div
                    class="flex flex-col gap-1"
                    *ngIf="building.subscriptionDTO"
                >
                    <small class="w-max">
                        {{ 'enterprise.buildings.details.labels.haveSubscriptionOfNumberOfDevices' | translate }}
                    </small>
                    <div>
                        {{ building.subscriptionDTO.maxNumberOfDevices }}
                    </div>
                </div>
                @if (building.subscriptionDTO !== null) {
                    <div class="flex flex-col gap-1">
                        <small>
                            {{ 'enterprise.buildings.details.labels.validFromInclusive' | translate }}
                        </small>
                        <p>
                            {{ building.subscriptionDTO?.startDate | date: 'dd.MM.yyyy' }}
                        </p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <small>
                            {{ 'enterprise.buildings.details.labels.validToInclusive' | translate }}
                        </small>
                        <p>
                            {{ building.subscriptionDTO?.endDate | date: 'dd.MM.yyyy' }}
                        </p>
                    </div>
                }
                <div class="flex flex-col gap-1">
                    <small>
                        {{ 'enterprise.buildings.details.labels.address' | translate }}
                    </small>
                    <p class="max-w-96 truncate">
                        {{ building.address }}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex justify-end p-2 dark:bg-black">
            <p-button
                class="*:min-w-24"
                severity="primary"
                (click)="openDialog(building)"
                [label]="
                    building.subscriptionDTO === null
                        ? ('enterprise.buildings.overview.btn.activate' | translate)
                        : ('enterprise.buildings.overview.btn.update' | translate)
                "
                [outlined]="building.subscriptionDTO !== null"
            />
            <p-button
                *ngIf="hasSubscription(building)"
                class="*:mw-24 ml-2"
                severity="info"
                label="{{ 'enterprise.buildings.overview.btn.manage' | translate }}"
                [routerLink]="getManageBuildingPath(building)"
                outlined
            />
        </div>
    </div>
</ng-template>
