<master-layout
    title="powerBi.dashboard"
    styleClass="h-full"
>
    <div subtitle>{{ 'powerBi.dashboardDescription' | translate }}</div>
    <div
        actions
        class="flex gap-3"
    >
        <ng-container *ngTemplateOutlet="addNewDashboard"></ng-container>
        @if (dashboards.length > 0) {
            <ng-container *ngTemplateOutlet="selectDashboards; context: {$implicit: 'hidden lg:flex'}"></ng-container>
        }
    </div>

    <ng-container *ngTemplateOutlet="selectDashboards; context: {$implicit: 'flex lg:hidden'}"></ng-container>

    <ng-container *ngIf="dashboards.length > 0; else noDashboards">
        @if (selectedDashboard) {
            <iframe
                class="h-full w-full"
                [title]="selectedDashboard.value.title"
                [src]="safeUrl"
            ></iframe>
        }
    </ng-container>
</master-layout>

<ng-template #noDashboards>
    <div class="flex flex-col gap-4 p-8">
        <!-- Total emissions card -->
        <div class="p-4">
            <div class="mb-3 text-lg">{{ 'powerBi.totalEmissions' | translate }}</div>
            <div class="text-2xl font-bold text-primary">{{ totalEmissions | number: '1.0-0' }} kg CO₂e</div>
        </div>

        <div class="flex items-center gap-8">
            <p-chart
                type="pie"
                [data]="dataPieArea"
                [options]="optionsPieOptions"
            />
            <p-chart
                type="bar"
                class="w-full"
                [data]="basicData"
                [options]="basicOptions"
            />
        </div>
    </div>
</ng-template>

<ng-template
    #selectDashboards
    let-styleClass
>
    <p-select
        [styleClass]="styleClass"
        [options]="selectableDashboards"
        [(ngModel)]="selectedDashboard"
        optionLabel="label"
        [placeholder]="'powerBi.selectDashboard' | translate"
        (onChange)="onChange($event)"
        [checkmark]="true"
/></ng-template>

<ng-template #addNewDashboard>
    <p-button
        [label]="'powerBi.addNewDashBoard' | translate"
        outlined
        (onClick)="openCreateDashboardModal()"
    />
</ng-template>
