<div class="flex items-center justify-between border-b py-2">
    <p class="text-xl">{{ 'powerBi.regenerateTokenTitle' | translate }}</p>
</div>

<div class="rounded-lg border border-yellow-200 bg-yellow-50 dark:border-yellow-800 dark:bg-yellow-950">
    <div class="flex items-center gap-5 p-5">
        {{ 'powerBi.submitThisForm' | translate }}
    </div>
</div>

<div>
    <label class="font-semibold">{{ 'powerBi.expiration' | translate }}</label>
    <div class="flex gap-2">
        <p-select
            [(ngModel)]="expirationTime"
            [options]="selectableExpirationTimes"
            scrollHeight="300px"
            class="min-w-64"
        >
            <ng-template
                #selectedItem
                let-selectedOption
            >
                <div
                    class="flex items-center gap-2"
                    *ngIf="selectedOption"
                >
                    <i class="pi pi-calendar"></i>
                    <div>{{ selectedOption.label | translate }}</div>
                    @if (expirationTime) {
                        <div>({{ expirationTime | date: 'MMM d, yyyy' }})</div>
                    }
                </div>
            </ng-template>
            <ng-template
                let-selectedOption
                #item
            >
                <div class="flex items-center gap-2">
                    <div>{{ selectedOption.label | translate }}</div>
                </div>
            </ng-template>
        </p-select>
        @if (expirationTime === null) {
            <p-datepicker
                [(ngModel)]="expirationTime"
                [iconDisplay]="'input'"
                [showIcon]="true"
            ></p-datepicker>
        }
    </div>
    <small>{{ 'powerBi.tokenWillExpire' | translate }}</small>
</div>

<div class="flex gap-4">
    <p-button
        (onClick)="regenerateAccessToken()"
        size="small"
        class="*:min-w-16"
        label="{{ 'powerBi.accessToken.regenerate' | translate }}"
    />
    <p-button
        (onClick)="navigateToPowerBiAccessTokens()"
        size="small"
        class="*:min-w-24"
        label="{{ 'powerBi.accessToken.cancel' | translate }}"
        [outlined]="true"
    />
</div>
