<div class="flex items-center justify-center">
    <p-card class="mx-auto w-full max-w-md rounded-2xl shadow-lg">
        <ng-template #header>
            <div class="mt-2 flex items-center justify-center">
                <h2 class="text-xl font-semibold">
                    {{ "admin.ratio.updateRatio" | translate }}
                </h2>
            </div>
        </ng-template>
        <ng-template #title>
            <div class="flex items-center justify-center text-primary-emphasis">
                <p>
                    {{ "admin.ratio.adjustRatio" | translate }}:
                    {{ "admin.ratio.type." + selectedConvertType | translate }}
                </p>
            </div>
        </ng-template>
        <ng-template #subtitle>
            <div class="flex items-center justify-center">
                <div
                    class="flex flex-col items-center justify-center gap-2 pt-6"
                >
                    <form
                        [formGroup]="formGroup"
                        class="py-5 sm:mt-5"
                        unsavedChanges
                        id="updateRatioForm"
                    >
                        <div
                            errorMessages
                            class="flex flex-col items-center justify-center gap-2"
                        >
                            <p-inputnumber
                                formControlName="ratio"
                                [showButtons]="true"
                                [step]="0.1"
                                buttonLayout="horizontal"
                                spinnerMode="horizontal"
                                inputId="horizontal"
                                [minFractionDigits]="1"
                                [maxFractionDigits]="2"
                                [inputStyle]="{ width: '5rem' }"
                            >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                            <form-field-error></form-field-error>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
        <ng-template #footer>
            <div
                class="mt-4 flex flex-col-reverse items-center justify-center gap-4 lg:flex-row"
            >
                <p-button
                    label="{{
                        'dialog.subscription.footer.button.cancel' | translate
                    }}"
                    [text]="true"
                    severity="primary"
                    [outlined]="true"
                    (onClick)="return()"
                />
                <p-button
                    label="{{ 'common.save' | translate }}"
                    severity="primary"
                    (onClick)="submit()"
                />
            </div>
        </ng-template>
    </p-card>
</div>
