<div class="w-[300px] sm:w-[400px] md:w-[500px] mt-4">
    <!-- Dialog Header -->
    <div class="p-dialog-header p-0 border-b">
        <span class="text-xl font-semibold">
            {{ "enterprise.emission.activity.record.table.factor" | translate }}
        </span>
        <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text"
            (click)="closeDialog()"
        ></button>
    </div>

    <!-- Stepper with Three Steps -->
    <p-stepper [value]="1" class="block">
        <p-step-panels class="block h-full">
            <!-- Step 1: Names and Description -->
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div
                        class="p-0 min-h-[400px] p-dialog-content flex flex-col overflow-hidden"
                    >
                        <div [formGroup]="formGroup">
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="nameVN"
                                    class="w-full"
                                    autocomplete="off"
                                />
                                <label
                                    >{{ "common.name" | translate }} (VN)</label
                                >
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="nameEN"
                                    class="w-full"
                                    autocomplete="off"
                                />
                                <label
                                    >{{ "common.name" | translate }} (EN)</label
                                >
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="nameZH"
                                    class="w-full"
                                    autocomplete="off"
                                />
                                <label
                                    >{{ "common.name" | translate }} (ZH)</label
                                >
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="description"
                                    class="w-full"
                                    autocomplete="off"
                                />
                                <label>{{
                                    "admin.emissionFactor.description"
                                        | translate
                                }}</label>
                            </p-iftalabel>
                        </div>
                        <div class="flex justify-end mt-2">
                            <p-button
                                label="{{ 'common.next' | translate }}"
                                icon="pi pi-arrow-right"
                                iconPos="right"
                                (onClick)="activateCallback(2)"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Step 2: Emission Values (CO2, CH4, N2O) -->
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div
                        class="p-0 min-h-[400px] p-dialog-content flex flex-col overflow-hidden"
                    >
                        <div [formGroup]="formGroup">
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="co2"
                                    class="w-full"
                                    autocomplete="off"
                                    type="number"
                                />
                                <label>{{ "CO2" | translate }}</label>
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="ch4"
                                    class="w-full"
                                    autocomplete="off"
                                    type="number"
                                />
                                <label>{{ "CH4" | translate }}</label>
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <input
                                    pInputText
                                    formControlName="n2o"
                                    class="w-full"
                                    autocomplete="off"
                                    type="number"
                                />
                                <label>{{ "N2O" | translate }}</label>
                            </p-iftalabel>
                        </div>
                        <div class="flex justify-between mt-2">
                            <p-button
                                label="{{ 'common.back' | translate }}"
                                severity="secondary"
                                icon="pi pi-arrow-left"
                                (onClick)="activateCallback(1)"
                            ></p-button>
                            <p-button
                                label="{{ 'common.next' | translate }}"
                                icon="pi pi-arrow-right"
                                iconPos="right"
                                (onClick)="activateCallback(3)"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>

            <!-- Step 3: Validity Dates -->
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div
                        class="p-0 min-h-[400px] p-dialog-content flex flex-col overflow-hidden"
                    >
                        <div [formGroup]="formGroup">
                            <p-iftalabel class="my-2">
                                <p-calendar
                                    formControlName="validFrom"
                                    [showIcon]="true"
                                    inputId="validFrom"
                                    dateFormat="dd/mm/yy"
                                    [style]="{ width: '100%' }"
                                ></p-calendar>
                                <label>{{
                                    "enterprise.emission.activity.record.table.startDate"
                                        | translate
                                }}</label>
                            </p-iftalabel>
                            <p-iftalabel class="my-2">
                                <p-calendar
                                    formControlName="validTo"
                                    [showIcon]="true"
                                    inputId="validTo"
                                    dateFormat="dd/mm/yy"
                                    [style]="{ width: '100%' }"
                                ></p-calendar>
                                <label>{{
                                    "enterprise.emission.activity.record.table.endDate"
                                        | translate
                                }}</label>
                            </p-iftalabel>
                        </div>
                        <div class="flex justify-between mt-2">
                            <p-button
                                label="{{ 'common.back' | translate }}"
                                severity="secondary"
                                icon="pi pi-arrow-left"
                                (onClick)="activateCallback(2)"
                            ></p-button>
                            <p-button
                                label="{{ 'common.save' | translate }}"
                                icon="pi pi-check"
                                severity="primary"
                                [disabled]="formGroup.invalid"
                                (onClick)="submit()"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
