<div class="mx-auto mt-12 w-full max-w-md rounded-xl bg-white p-6 shadow-lg dark:bg-slate-800">
    <h2 class="text-center text-2xl font-semibold text-slate-800 dark:text-white">
        {{ 'mailOTP.title' | translate }}
    </h2>

    <p class="mt-2 text-center text-sm text-slate-500 dark:text-slate-300">
        <span *ngIf="!firstSent">
            {{ 'mailOTP.description' | translate: {email: userEmail} }}
        </span>
    </p>

    <form
        [formGroup]="formGroup"
        class="mt-6 space-y-4"
    >
        <div
            *ngIf="firstSent"
            errorMessages
        >
            <label class="mb-1 block text-sm font-medium text-slate-700 dark:text-slate-300">
                {{ 'mailOTP.label' | translate }}
            </label>
            <p-inputotp
                [class]="'my-4 justify-center'"
                formControlName="otpCode"
                [length]="6"
                size="large"
                [integerOnly]="true"
            ></p-inputotp>
            <form-field-error></form-field-error>
        </div>

        <button
            *ngIf="!firstSent"
            pButton
            label="{{ 'mailOTP.send' | translate }}"
            icon="pi pi-send"
            iconPos="right"
            (click)="sendOtp()"
            class="w-full"
        ></button>

        <p-button
            *ngIf="firstSent"
            (click)="submit()"
            icon="pi pi-check"
            iconPos="right"
            label="{{ 'mailOTP.verify' | translate }}"
            class="w-full"
            [disabled]="formGroup.invalid || !firstSent"
        ></p-button>
    </form>

    <div
        *ngIf="firstSent"
        class="mt-4 flex items-center justify-between text-sm text-slate-500 dark:text-slate-400"
    >
        <span>{{ 'mailOTP.notReceived' | translate }}</span>
        <p-button
            type="button"
            severity="info"
            text
            label="{{ 'mailOTP.resend' | translate }}"
            (click)="sendOtp()"
        ></p-button>
    </div>
</div>

<div>
    <p-toast
        key="center"
        position="top-center"
    ></p-toast>
</div>
