<master-layout title="linkedTenant.title">
    <p subtitle>{{ 'linkedTenant.description' | translate }}</p>

    <table-template
        [fetch]="fetchTenant"
        [columns]="cols"
        [searchOnInit]="true"
        [captionTemplateRef]="captionTemplateRef"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
    />
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center">
        <p-inputgroup class="max-w-96">
            <input
                type="text"
                pInputText
                [(ngModel)]="searchCriteria.email"
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="searchEvent.emit()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    variant="text"
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</ng-template>

<ng-template
    #buildingTemplate
    let-rowData
>
    <div class="flex flex-col gap-1">
        <div
            *ngFor="let building of rowData.buildings"
            class="my-1 flex items-center gap-3 text-sm"
        >
            <a
                [routerLink]="[
                    '/',
                    AppRoutingConstants.ENTERPRISE_PATH,
                    AppRoutingConstants.BUILDING_MANAGEMENT_PATH,
                    building.id
                ]"
                class="flex items-baseline gap-1 text-primary-600 hover:underline"
            >
                <i class="pi pi-building"></i>
                <span class="font-semibold">{{ building.name }}</span>
            </a>
            <span class="text-gray-400">-</span>
            <a
                [routerLink]="[
                    '/',
                    AppRoutingConstants.ENTERPRISE_PATH,
                    AppRoutingConstants.BUILDING_GROUP_PATH,
                    building.buildingGroup.id
                ]"
                class="flex items-baseline gap-1 text-sky-600 hover:underline"
            >
                <i class="pi pi-user"></i>
                <span class="font-semibold">{{ building.buildingGroup.name }}</span>
            </a>
        </div>
    </div>
</ng-template>

<ng-template
    #viewTemplate
    let-rowData
>
    <button
        pButton
        type="button"
        icon="pi pi-eye"
        class="p-button-rounded p-button-text"
        (click)="onView(rowData.id)"
    ></button>
</ng-template>
