<p-table
    #tableTemplateComponent
    *ngIf="searchResult"
    [value]="searchResult.results"
    [tableStyle]="isMobile ? {} : {'min-width': '60rem'}"
    (sortFunction)="onSortChange($event)"
    [customSort]="true"
    [columns]="columns"
    class="w-full"
    [rowHover]="true"
    [(selection)]="selected"
    (selectionChange)="onSelectionChange($event)"
    [stripedRows]="isMobile"
    dataKey="id"
>
    @if (captionTemplateRef) {
        <ng-template pTemplate="caption">
            <ng-container *ngTemplateOutlet="captionTemplateRef"></ng-container>
        </ng-template>
    }
    <ng-template
        pTemplate="header"
        let-columns
    >
        <tr *ngIf="!isMobile">
            @if (checkbox) {
                <th
                    style="width: 3rem"
                    id="checkbox"
                >
                    <p-tableHeaderCheckbox />
                </th>
            }
            @if (expandedTemplateRef) {
                <th style="width: 5rem"></th>
            }
            @for (col of columns; track col.field) {
                @if (col.header) {
                    @if (col.sortable) {
                        <th
                            [id]="col.field"
                            [pSortableColumn]="col.sortField ?? col.field"
                        >
                            {{ col.header | translate }}
                            <p-sortIcon [field]="col.sortField ?? col.field" />
                        </th>
                    } @else {
                        <th [id]="col.header">
                            {{ col.header | translate }}
                        </th>
                    }
                } @else {
                    <th
                        [id]="col.field"
                        style="width: 5rem"
                    ></th>
                }
            }
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-expanded="expanded"
    >
        @if (isMobile) {
            <tr>
                <table class="w-full">
                    @if (checkbox) {
                        <tr class="grid grid-cols-2 *:truncate *:border *:p-2 *:text-left">
                            <td>
                                <p-tableCheckbox [value]="rowData" />
                            </td>
                            <th id="checkbox"></th>
                        </tr>
                    }
                    <tr
                        *ngFor="let col of columns"
                        class="grid grid-cols-2 *:truncate *:border *:p-2 *:text-left"
                    >
                        @if (col.header) {
                            <th [id]="col.header">
                                {{ col.header | translate }}
                            </th>
                        } @else {
                            <th [id]="col.field"></th>
                        }
                        <td>
                            @if (col.templateRef) {
                                <ng-container
                                    *ngTemplateOutlet="col.templateRef; context: {$implicit: rowData}"
                                ></ng-container>
                            } @else {
                                {{ rowData[col.field] }}
                            }
                        </td>
                    </tr>
                </table>
            </tr>
        } @else {
            <tr>
                @if (checkbox) {
                    <td style="width: 3rem">
                        <p-tableCheckbox [value]="rowData" />
                    </td>
                }
                <td *ngIf="expandedTemplateRef">
                    <p-button
                        type="button"
                        pRipple
                        [pRowToggler]="rowData"
                        [text]="true"
                        [rounded]="true"
                        [plain]="true"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                </td>
                <td *ngFor="let col of columns">
                    @if (col.templateRef) {
                        <ng-container *ngTemplateOutlet="col.templateRef; context: {$implicit: rowData}"></ng-container>
                    } @else {
                        {{ rowData[col.field] }}
                    }
                </td>
            </tr>
        }
    </ng-template>
    @if (expandedTemplateRef) {
        <ng-template
            #expandedrow
            let-rowData
        >
            <tr>
                <ng-container *ngTemplateOutlet="expandedTemplateRef; context: {$implicit: rowData}"></ng-container>
            </tr>
        </ng-template>
    }
    <ng-template pTemplate="emptymessage">
        <td
            [attr.colspan]="columns.length + (checkbox ? 1 : 0)"
            class="px-3 py-4"
        >
            {{ 'common.noRow' | translate }}
        </td>
    </ng-template>
</p-table>
<p-paginator
    *ngIf="searchResult"
    (onPageChange)="onPageChange($event)"
    [first]="searchCriteria.page.pageNumber * searchCriteria.page.pageSize"
    [rows]="searchCriteria.page.pageSize"
    [totalRecords]="searchResult.totalElements"
    [showCurrentPageReport]="!isMobile"
    [showPageLinks]="!isMobile"
    [showJumpToPageDropdown]="false"
    [rowsPerPageOptions]="ApplicationConstant.DEFAULT_PAGE_OPTIONS"
    currentPageReportTemplate="{{ paginatorTemplateString }}"
/>
