<!-- activity-type-dialog.component.html -->
<div class="mt-4 w-[300px] sm:w-[400px] md:w-[500px]">
    <!-- Dialog Header -->
    <div class="p-dialog-header border-b p-0">
        <span class="text-xl font-semibold">
            {{ "enterprise.type.name" | translate }}
        </span>
        <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text"
            (click)="closeDialog()"
        ></button>
    </div>

    <!-- Form Content -->
    <div
        class="p-dialog-content flex min-h-[150px] flex-col overflow-hidden p-0"
    >
        <form [formGroup]="formGroup">
            <p-iftalabel class="my-2">
                <input
                    pInputText
                    formControlName="name"
                    class="w-full"
                    autocomplete="off"
                />
                <label>{{ "common.name" | translate }}</label>
            </p-iftalabel>
            <p-iftalabel class="my-2">
                <input
                    pInputText
                    formControlName="description"
                    class="w-full"
                    autocomplete="off"
                />
                <label>{{
                    "admin.emissionFactor.description" | translate
                }}</label>
            </p-iftalabel>
        </form>
        <div class="mt-2 flex justify-end">
            <p-button
                label="{{ 'common.save' | translate }}"
                icon="pi pi-check"
                severity="primary"
                [disabled]="formGroup.invalid"
                (onClick)="submit()"
            ></p-button>
        </div>
    </div>
</div>
