<div class="mb-4 flex items-center justify-between border-b pb-1">
    <h1 class="text-lg font-bold text-primary">
        {{ 'enterprise.Users.title' | translate }}
    </h1>
</div>
<p class="mb-4">{{ 'enterprise.Users.description' | translate }}</p>
<table-template
    [fetch]="fetchUsers"
    [columns]="cols"
    [sort]="undefined"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [triggerClearSelected]="clearSelectedEvent"
    [captionTemplateRef]="captionTemplateRef"
    [checkbox]="true"
    (selectionChange)="onSelectionChange($event)"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    [(ngModel)]="searchCriteria.criteria"
                    type="text"
                    pInputText
                    placeholder="{{ 'common.search' | translate }}"
                    (keydown.enter)="search()"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="search()"
            />
        </div>
        <div class="flex gap-2.5"></div>
    </div>
</ng-template>
<ng-template
    #actionsTemplate
    let-rowData
>
    <div class="flex">
        <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="onEdit(rowData)"
        />
        <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (onClick)="onDelete(rowData)"
        />
    </div>
</ng-template>
<ng-template
    #scopeTemplate
    let-rowData
>
    <p>{{ 'enum.scope.' + rowData.scope | translate }}</p>
</ng-template>
