<master-layout title="admin.packageCredit.title">
    <div actions>
        <button
            pButton
            class="p-button font-bold"
            [routerLink]="['/', AppRoutingConstants.ADMIN_PATH, AppRoutingConstants.PACKAGE_CREDIT_DETAILS_PATH]"
        >
            <i class="pi pi-credit-card"></i>
            {{ 'admin.packageCredit.addPackageCredit' | translate }}
        </button>
    </div>

    <table-template
        [fetch]="fetchData"
        [columns]="cols"
        [triggerSearch]="triggerSearch"
        (selectionChange)="onSelectionChange($event)"
    />
</master-layout>

<ng-template
    #priceTemplate
    let-rowData
>
    <p>{{ rowData.price | number: '1.0-0' }} VND</p>
</ng-template>

<ng-template
    #actionsTemplate
    let-rowData
>
    <div class="flex">
        <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="onEdit(rowData)"
        />
    </div>
</ng-template>
<ng-template
    #activeTemplate
    let-rowData
>
    <div class="flex items-center gap-2">
        <p-inputSwitch
            [ngModel]="rowData.active"
            (onChange)="onDelete(rowData)"
        ></p-inputSwitch>
    </div>
</ng-template>
<ng-template
    #viewVersionsTemplate
    let-rowData
>
    <p-button
        icon="pi pi-eye"
        [rounded]="true"
        [text]="true"
        severity="primary"
        (onClick)="onViewVersions(rowData)"
    />
</ng-template>

<p-dialog
    [(visible)]="isDialogVisible"
    modal
    [closable]="true"
    [header]="'admin.packageCredit.versionList' | translate"
    [style]="{width: '500px'}"
>
    <div *ngIf="selectedPackageVersions.length > 0; else noDataTemplate">
        <div class="grid gap-3">
            <div
                *ngFor="let version of selectedPackageVersions"
                class="flex items-center justify-between rounded-lg border border-gray-300 p-3 shadow-sm"
            >
                <div class="flex items-center gap-3">
                    <i class="pi pi-bitcoin text-lg text-yellow-500"></i>
                    <span class="text-lg font-semibold">{{ version.numberOfCredits }}</span>
                </div>
                <div class="flex items-center gap-3">
                    <i class="pi pi-dollar text-lg text-green-500"></i>
                    <span class="text-lg font-semibold">{{ version.price | number: '1.0-0' }} VND</span>
                </div>
                <p-chip
                    [label]="
                        version.active
                            ? ('admin.packageCredit.current' | translate)
                            : ('admin.packageCredit.outdated' | translate)
                    "
                    [styleClass]="version.active ? 'bg-green-500 text-white' : 'bg-red-500 text-white'"
                ></p-chip>
            </div>
        </div>
    </div>

    <ng-template #noDataTemplate>
        <div class="flex flex-col items-center justify-center py-4 text-lg text-gray-500">
            <i class="pi pi-info-circle mb-2 text-2xl"></i>
            <p>{{ 'admin.packageCredit.noVersions' | translate }}</p>
        </div>
    </ng-template>
</p-dialog>
