<div *ngIf="buildingDetails">
    <div>
        <p-button
            icon="pi pi-arrow-left"
            label="{{ 'common.back' | translate }}"
            (click)="goBack()"
            severity="primary"
            outlined="true"
            size="small"
        ></p-button>
    </div>
    <div
        class="flex items-center justify-between border-b pb-1"
        style="min-height: 42px"
    >
        <div class="text-lg font-bold text-primary">
            {{ "enterprise.buildings.management.title" | translate }}
        </div>
    </div>
    <div class="my-2 flex flex-col lg:flex-row">
        <div class="m-2 w-full md:w-1/2">
            <p-card
                header="{{ buildingDetails.name }}"
                styleClass="h-full w-full block"
            >
                <ng-template pTemplate="subtitle">
                    <i class="pi pi-map-marker"></i>
                    {{ buildingDetails.address }}
                </ng-template>
                <p-fieldset
                    legend="{{
                        'enterprise.emission.activity.subscriptionDetail'
                            | translate
                    }}"
                    collapsed="false"
                >
                    <p>
                        <i class="pi pi-star"></i>
                        {{
                            "enterprise.emission.activity.maxNoActivities"
                                | translate
                        }}
                        {{
                            buildingDetails.subscriptionDTO?.maxNumberOfDevices
                        }}
                    </p>
                    <p>
                        <i class="pi pi-calendar"></i>
                        {{
                            "enterprise.emission.activity.subscriptionDuration"
                                | translate
                        }}

                        {{
                            buildingDetails.subscriptionDTO?.startDate
                                | date: "dd/MM/yyyy"
                        }}
                        -
                        {{
                            buildingDetails.subscriptionDTO?.endDate
                                | date: "dd/MM/yyyy"
                        }}
                    </p>
                    <p>
                        <i class="pi pi-hourglass"></i>
                        {{
                            "enterprise.emission.activity.remainingDays"
                                | translate
                        }}
                        {{ getRemainingDays() }}
                    </p>
                </p-fieldset>
                <ng-template pTemplate="footer">
                    <div class="mt-1 flex gap-4">
                        <p-button
                            label="{{
                                'enterprise.buildings.tenant.new' | translate
                            }}"
                            class="flex-1"
                            severity="primary"
                            outlined
                            styleClass="w-full h-full"
                            (onClick)="onNewTenant()"
                            size="small"
                        ></p-button>

                        <p-button
                            label="{{
                                'enterprise.buildings.group.new' | translate
                            }}"
                            class="flex-1"
                            (onClick)="onNewGroup()"
                            severity="primary"
                            styleClass="w-full h-full"
                            size="small"
                        ></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="m-2 w-full md:w-1/2">
            <p-card
                header="{{ 'overview.title' | translate }}"
                styleClass="h-full w-full block"
                *ngIf="overviewBuilding"
            >
                <div class="space-y-4">
                    <div
                        class="flex items-center gap-3 rounded-lg py-2 transition-colors duration-200"
                    >
                        <i class="pi pi-users text-xl text-blue-500"></i>
                        <span class="font-medium text-gray-600">
                            {{ "overview.numberOfGroups" | translate }}
                        </span>
                        <span class="ml-auto font-bold text-blue-600">{{
                            overviewBuilding.numberOfGroups
                        }}</span>
                    </div>
                    <div
                        class="flex items-center gap-3 rounded-lg py-2 transition-colors duration-200"
                    >
                        <i class="pi pi-building text-xl text-green-500"></i>
                        <span class="font-medium text-gray-600">
                            {{
                                "overview.numberOfCorporationTenant" | translate
                            }}
                        </span>
                        <span class="ml-auto font-bold text-green-600">{{
                            overviewBuilding.numberOfCorporationTenant
                        }}</span>
                    </div>
                    <div
                        class="flex items-center gap-3 rounded-lg py-2 transition-colors duration-200"
                    >
                        <i class="pi pi-chart-line text-xl text-orange-500"></i>
                        <span class="font-medium text-gray-600">
                            {{ "overview.numberOfActivities" | translate }}
                        </span>
                        <span class="ml-auto font-bold text-orange-600">{{
                            overviewBuilding.numberOfActivities
                        }}</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>

<table-template
    [fetch]="fetchGroups"
    [columns]="cols"
    [searchOnInit]="false"
    [captionTemplateRef]="captionTemplateRef"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [triggerClearSelected]="clearSelectedEvent"
    (selectionChange)="onSelectionChange($event)"
    [checkbox]="true"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="searchCriteria.name"
                    placeholder="{{ 'common.search' | translate }}"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="searchEvent.emit()"
            />
        </div>
        <div class="flex gap-2.5">
            <p-button
                severity="danger"
                [label]="
                    selected.length
                        ? ('enterprise.emission.activity.deleteWithCount'
                          | translate: { count: selected.length })
                        : ('enterprise.Users.delete' | translate)
                "
                icon="pi pi-trash"
                outlined
                [disabled]="!selected || !selected.length"
                (onClick)="confirmDelete()"
                size="small"
            />
        </div>
    </div>
</ng-template>
<ng-template #actionsTemplate let-group>
    <p-button
        icon="pi pi-file-edit"
        (onClick)="navigateToBuildingGroupDetail(group)"
        [rounded]="true"
        [text]="true"
        severity="contrast"
    />
</ng-template>
<ng-template #typeTemplate let-activity>
    <span *ngIf="activity.type">{{ activity?.type.name }}</span>
</ng-template>
