<master-layout
    title="enterprise.buildings.management.title"
    [showBack]="true"
>
    <div actions>
        <p-button
            label="{{ 'enterprise.emission.activity.generateReport' | translate }}"
            class="flex-1"
            icon="pi pi-file-excel"
            (onClick)="generateReport()"
            severity="primary"
            outlined
            styleClass="w-full h-full"
        ></p-button>
    </div>

    <div
        *ngIf="buildingDetails"
        class="flex flex-col gap-3 lg:flex-row"
    >
        <div class="w-full md:w-1/2">
            <p-card
                header="{{ buildingDetails.name }}"
                styleClass="h-full w-full block"
            >
                <ng-template pTemplate="subtitle">
                    <i class="pi pi-map-marker"></i>
                    {{ buildingDetails.address }}
                </ng-template>
                <p-fieldset
                    legend="{{ 'enterprise.emission.activity.subscriptionDetail' | translate }}"
                    collapsed="false"
                >
                    <p>
                        <i class="pi pi-star"></i>
                        {{ 'enterprise.emission.activity.maxNoActivities' | translate }}
                        {{ buildingDetails.subscriptionDTO?.maxNumberOfDevices }}
                    </p>
                    <p>
                        <i class="pi pi-calendar"></i>
                        {{ 'enterprise.emission.activity.subscriptionDuration' | translate }}

                        {{ buildingDetails.subscriptionDTO?.startDate | date: 'dd/MM/yyyy' }}
                        -
                        {{ buildingDetails.subscriptionDTO?.endDate | date: 'dd/MM/yyyy' }}
                    </p>
                    <p>
                        <i class="pi pi-hourglass"></i>
                        {{ 'enterprise.emission.activity.remainingDays' | translate }}
                        {{ getRemainingDays() }}
                    </p>
                </p-fieldset>
                <ng-template pTemplate="footer">
                    <div class="mt-1 flex gap-4">
                        <p-button
                            label="{{ 'enterprise.buildings.tenant.new' | translate }}"
                            class="flex-1"
                            severity="primary"
                            outlined
                            styleClass="w-full h-full"
                            (onClick)="onNewTenant()"
                        ></p-button>

                        <p-button
                            label="{{ 'enterprise.buildings.group.new' | translate }}"
                            class="flex-1"
                            (onClick)="onNewGroup()"
                            severity="primary"
                            styleClass="w-full h-full"
                        ></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="w-full md:w-1/2">
            <p-card
                header="{{ 'overview.title' | translate }}"
                styleClass="h-full w-full block"
                *ngIf="overviewBuilding"
            >
                <div class="space-y-4">
                    <div class="flex items-center gap-3 rounded-lg py-2">
                        <i class="pi pi-users text-xl text-primary"></i>
                        <span class="font-medium">
                            {{ 'overview.numberOfGroups' | translate }}
                        </span>
                        <span class="ml-auto font-bold text-primary">{{ overviewBuilding.numberOfGroups }}</span>
                    </div>
                    <div class="flex items-center gap-3 rounded-lg py-2">
                        <i class="pi pi-building text-xl text-red-500"></i>
                        <span class="font-medium">
                            {{ 'overview.numberOfCorporationTenant' | translate }}
                        </span>
                        <span class="ml-auto font-bold text-red-500">{{
                            overviewBuilding.numberOfCorporationTenant
                        }}</span>
                    </div>
                    <div class="flex items-center gap-3 rounded-lg py-2">
                        <i class="pi pi-chart-line text-xl text-yellow-500"></i>
                        <span class="font-medium">
                            {{ 'overview.numberOfActivities' | translate }}
                        </span>
                        <span class="ml-auto font-bold text-yellow-500">{{ overviewBuilding.numberOfActivities }}</span>
                    </div>
                    <div class="flex items-center gap-3 rounded-lg py-2">
                        <i class="pi pi-box text-xl text-sky-500"></i>
                        <span class="font-medium">
                            {{ 'overview.numberOfCommonActivities' | translate }}
                        </span>
                        <span class="ml-auto font-bold text-sky-500">{{
                            overviewBuilding.numberOfCommonActivities
                        }}</span>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="mt-1 flex gap-4">
                        <p-button
                            label="{{ 'enterprise.emission.activity.manageActivityType' | translate }}"
                            class="flex-1"
                            severity="info"
                            outlined
                            [routerLink]="[
                                '/',
                                AppRoutingConstants.ENTERPRISE_PATH,
                                AppRoutingConstants.ACTIVITY_TYPE,
                                buildingDetails.id
                            ]"
                            styleClass="w-full h-full"
                        ></p-button>

                        <p-button
                            label="{{ 'enterprise.emission.activity.manageCommonActivity' | translate }}"
                            class="flex-1"
                            severity="info"
                            [routerLink]="[
                                '/',
                                AppRoutingConstants.ENTERPRISE_PATH,
                                AppRoutingConstants.MANAGE_COMMON_ACTIVITY_PATH,
                                buildingDetails.id
                            ]"
                            styleClass="w-full h-full"
                        ></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <table-template
        [fetch]="fetchGroups"
        [columns]="cols"
        [searchOnInit]="false"
        [captionTemplateRef]="captionTemplateRef"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
        [triggerClearSelected]="clearSelectedEvent"
        (selectionChange)="onSelectionChange($event)"
        [checkbox]="true"
    >
    </table-template>
</master-layout>

<ng-template #captionTemplateRef>
    <h6 class="text-primary">
        {{ 'enterprise.buildings.management.list' | translate }}
    </h6>
    <div class="flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center">
        <p-inputgroup class="max-w-96">
            <input
                type="text"
                pInputText
                [(ngModel)]="searchCriteria.name"
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="searchEvent.emit()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    variant="text"
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>
        <p-button
            severity="danger"
            [label]="
                selected.length
                    ? ('enterprise.emission.activity.deleteWithCount' | translate: {count: selected.length})
                    : ('enterprise.Users.delete' | translate)
            "
            icon="pi pi-trash"
            outlined
            [disabled]="!selected || !selected.length"
            (onClick)="confirmDelete()"
        />
    </div>
</ng-template>
<ng-template
    #actionsTemplate
    let-group
>
    <p-button
        icon="pi pi-file-edit"
        (onClick)="navigateToBuildingGroupDetail(group)"
        [rounded]="true"
        [text]="true"
        severity="contrast"
    />
</ng-template>
<ng-template
    #typeTemplate
    let-activity
>
    <span *ngIf="activity.type">{{ activity?.type.name }}</span>
</ng-template>
