<div class="p-4 max-w-sm sm:max-w-md md:min-w-[500px]">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">
            {{ "enterprise.emission.activity.record.new" | translate }}
        </h2>
        <button
            pButton
            icon="pi pi-times"
            class="p-button-rounded p-button-text"
            (click)="onCancel()"
        ></button>
    </div>
    <div class="grid grid-cols-1 gap-4">
        <p-iftalabel class="my-2 col-span-1">
            <input
                pInputText
                [value]="getFactorName()"
                class="w-full"
                [disabled]="true"
            />
            <label>{{
                "enterprise.emission.activity.record.table.factor" | translate
            }}</label>
        </p-iftalabel>
        <p-iftalabel class="my-2 col-span-1">
            <input
                pInputText
                class="w-full"
                [value]="getSourceName()"
                id="sourceName"
                disabled
            />
            <label for="sourceName">{{
                "enterprise.emission.activity.record.table.source" | translate
            }}</label>
        </p-iftalabel>
    </div>

    <form
        [formGroup]="formGroup"
        (ngSubmit)="submit()"
        class="grid grid-cols-1 md:grid-cols-1 gap-4"
    >
        <p-iftalabel class="my-2">
            <p-inputnumber formControlName="quantity" class="w-full" [min]="0">
            </p-inputnumber>
            <label>{{
                "enterprise.emission.activity.record.table.quantity" | translate
            }}</label>
        </p-iftalabel>

        <p-iftalabel class="my-2">
            <p-dropdown
                formControlName="unit"
                [options]="unitOptions"
                class="w-full break-words"
                [placeholder]="
                    'enterprise.emission.activity.record.table.unit' | translate
                "
            ></p-dropdown>
            <label>{{
                "enterprise.emission.activity.record.table.unit" | translate
            }}</label>
        </p-iftalabel>

        <p-iftalabel class="my-2">
            <p-inputnumber formControlName="value" class="w-full" [min]="0">
            </p-inputnumber>
            <label>{{
                "enterprise.emission.activity.record.table.value" | translate
            }}</label>
        </p-iftalabel>

        <p-fileUpload
            mode="basic"
            chooseLabel="{{
                'enterprise.emission.activity.record.table.file.choose'
                    | translate
            }}"
            [auto]="false"
            accept="image/*,application/pdf"
            (onSelect)="onFileSelect($event)"
        ></p-fileUpload>

        <p-iftalabel class="my-2">
            <p-date-picker
                formControlName="startDate"
                class="w-full"
                [style]="{ width: '100%' }"
                [inline]="true"
                [placeholder]="
                    'enterprise.emission.activity.record.table.startDate'
                        | translate
                "
            ></p-date-picker>
            <label>{{
                "enterprise.emission.activity.record.table.startDate"
                    | translate
            }}</label>
        </p-iftalabel>

        <p-iftalabel class="my-2">
            <p-date-picker
                [inline]="true"
                formControlName="endDate"
                class="w-full"
                [style]="{ width: '100%' }"
                [placeholder]="
                    'enterprise.emission.activity.record.table.endDate'
                        | translate
                "
            ></p-date-picker>
            <label>{{
                "enterprise.emission.activity.record.table.endDate" | translate
            }}</label>
        </p-iftalabel>

        <div class="flex justify-between">
            <p-button
                type="button"
                (click)="onCancel()"
                outlined="true"
                [label]="'common.cancel' | translate"
            ></p-button>
            <p-button
                type="submit"
                [label]="'common.save' | translate"
                [disabled]="!formGroup.valid"
            ></p-button>
        </div>
    </form>
</div>
