<master-layout title="sidebar.admin.tenant">
    <div subtitle>{{ 'admin.tenant.description' | translate }}</div>
    <table-template
        [fetch]="fetchTenant"
        [columns]="cols"
        [searchOnInit]="true"
        [captionTemplateRef]="captionTemplateRef"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
    />
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center">
        <p-inputgroup class="max-w-96">
            <input
                [(ngModel)]="searchCriteria.email"
                type="text"
                pInputText
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="searchEvent.emit()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    text
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</ng-template>
<ng-template
    #buildingTemplate
    let-rowData
>
    <div class="flex flex-col gap-1">
        <div
            *ngFor="let building of rowData.buildings"
            class="my-1 flex items-center gap-3 text-sm"
        >
            <span class="flex items-center gap-1 text-sky-600">
                <i class="pi pi-building"></i>
                <span class="font-semibold">{{ building.name }}</span>
            </span>
            <span class="text-gray-400">-</span>
            <span class="flex items-center gap-1 text-green-600">
                <i class="pi pi-user"></i>
                <span class="font-semibold">{{ building.buildingGroup.name }}</span>
            </span>
        </div>
    </div>
</ng-template>
