<!--<ng-container *ngIf="applicationService.isMobile()">-->
<!--    <p-button-->
<!--        icon="pi pi-bars"-->
<!--        [rounded]="true"-->
<!--        [text]="true"-->
<!--        severity="secondary"-->
<!--        class="block sm:hidden"-->
<!--        (onClick)="visible = true"-->
<!--    />-->

<!--    <p-drawer [(visible)]="visible" header="Drawer">-->
<!--        <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
<!--            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim-->
<!--            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--            aliquip ex ea commodo consequat.-->
<!--        </p>-->
<!--    </p-drawer></ng-container-->
<!--&gt;-->

@if (isLandingPage) {
    <img
        ngSrc="assets/images/logo.svg"
        alt="Logo"
        width="100"
        height="35"
        priority
    />
    <div class="max-w-screen w-full"></div>
}

<div class="flex gap-3 items-center">
    @if (authenticated | async) {
        <p-button
            icon="pi pi-inbox"
            [rounded]="true"
            [text]="true"
            severity="secondary"
        />
    }

    <p-button
        icon="pi {{ (isDarkMode | async) ? 'pi pi-moon' : 'pi pi-sun' }}"
        [rounded]="true"
        [text]="true"
        (onClick)="toggleLightDark()"
    />

    @if (authenticated | async) {
        <img
            class="rounded-full"
            ngSrc="assets/images/avatar3D.jpg"
            alt="Avatar"
            width="32"
            height="32"
            priority
        />
        <p-button
            icon="pi pi-power-off"
            class="lg:*:w-40"
            iconPos="right"
            [label]="
                applicationService.isMobile()
                    ? null
                    : ('common.logout' | translate)
            "
            severity="primary"
            outlined
            (onClick)="logout()"
        />
    } @else {
        <p-button
            icon="pi pi-sign-in"
            class="lg:*:w-40"
            iconPos="right"
            [label]="
                applicationService.isMobile()
                    ? null
                    : ('common.login' | translate)
            "
            severity="primary"
            outlined
            (onClick)="login()"
        />
    }

    @if (applicationService.isMobile()) {
        <p-select
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="mobile"
            placeholder="Select language"
            class="min-w-20"
            (onChange)="changeLanguage($event.value)"
            size="small"
        />
    } @else {
        <p-select
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="display"
            placeholder="Select language"
            class="min-w-36"
            (onChange)="changeLanguage($event.value)"
        />
    }
</div>
