<div class="bg-white dark:bg-black">
    <div class="container mx-auto flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
        <div class="flex items-center gap-4">
            <div
                class="flex gap-2 hover:cursor-pointer"
                (click)="homepage()"
            >
                <ng-container *ngTemplateOutlet="logo"></ng-container>
            </div>
        </div>
        <div class="flex items-center gap-6 max-lg:hidden">
            <ng-container *ngTemplateOutlet="desktopQuickActions"></ng-container>
        </div>
        <div class="flex items-center gap-2.5 lg:hidden">
            <ng-container *ngTemplateOutlet="mobileQuickActions"></ng-container>
        </div>
    </div>
</div>

<ng-template #logo>
    <img
        ngSrc="assets/images/logo-vectors.svg"
        alt="Logo"
        width="27"
        height="32"
        priority
    />
    <img
        ngSrc="assets/images/logo-text.svg"
        alt="Logo"
        width="73"
        height="32"
        priority
    />
</ng-template>

<p-drawer
    #drawerRef
    *ngIf="isMobile"
    [(visible)]="visible"
    position="full"
>
    <ng-template #headless>
        <div class="flex h-full flex-col px-4 pb-4 dark:bg-black">
            <div class="flex h-14 shrink-0 items-center justify-between border-b">
                <span
                    class="inline-flex items-center gap-2"
                    (click)="homepage()"
                >
                    <ng-container *ngTemplateOutlet="logo" />
                </span>
                <span>
                    <p-button
                        type="button"
                        (click)="closeCallback($event)"
                        icon="pi pi-times"
                        outlined
                        text
                        styleClass="h-8 w-8"
                    ></p-button>
                </span>
            </div>
            <div class="flex items-center justify-between gap-4 pt-4">
                <ng-container *ngTemplateOutlet="toggleDarkLight" />
                <ng-container *ngTemplateOutlet="selectLanguage" />
            </div>
            <div
                class="overflow-y-auto"
                (click)="closeCallback($event)"
            >
                <app-sidebar></app-sidebar>
            </div>
            <div
                *ngIf="authenticated | async"
                (click)="closeCallback($event)"
            >
                <ng-container *ngTemplateOutlet="userProfileMobile" />
            </div>
            <div class="mt-auto">
                @if (authenticated | async) {
                    <p-button
                        class="w-full *:w-full"
                        iconPos="right"
                        [label]="'common.logout' | translate"
                        (onClick)="logout()"
                        outlined
                    />
                } @else {
                    <p-button
                        class="w-full *:w-full"
                        iconPos="right"
                        [label]="'common.login' | translate"
                        (onClick)="login()"
                    />
                }
            </div>
        </div>
    </ng-template>
</p-drawer>

<ng-template #userProfileMobile
    ><p-menu
        [model]="userMenuMobileItems"
        class="bg-transparent *:border-none *:bg-transparent"
    >
        <ng-template
            #submenuheader
            let-item
        >
            <span class="-ml-3 font-bold text-primary">{{ item.label | translate }}</span>
        </ng-template>
        <ng-template
            #item
            let-item
        >
            <a
                pRipple
                [routerLink]="item.route"
                class="p-menu-item-link flex items-center px-0"
            >
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label | translate }}</span>
                <p-badge
                    *ngIf="item.badge"
                    class="ml-auto"
                    [value]="item.badge"
                />
                <span
                    *ngIf="item.shortcut"
                    class="ml-auto rounded border p-1 text-xs border-surface bg-emphasis text-muted-color"
                    >{{ item.shortcut }}</span
                >
            </a>
        </ng-template>
    </p-menu>
</ng-template>

<ng-template #mobileQuickActions>
    <p-button
        (click)="visible = true"
        icon="pi pi-bars"
        outlined
        text
    />
</ng-template>

<ng-template #desktopQuickActions>
    @if (authenticated | async) {}
    <ng-container *ngTemplateOutlet="toggleDarkLight" />
    @if (authenticated | async) {
        <ng-container *ngTemplateOutlet="avatar" />
    } @else {
        <ng-container *ngTemplateOutlet="btnLogin" />
    }
    <ng-container *ngTemplateOutlet="selectLanguage" />
</ng-template>

<ng-template #avatar>
    <div
        (click)="menu.toggle($event)"
        class="flex h-8 w-8 items-center justify-center rounded-full border border-black/80 text-black hover:cursor-pointer dark:border-white/80 dark:text-white/80"
    >
        <i class="pi pi-user"></i>
    </div>
</ng-template>
<p-menu
    #menu
    [model]="menuItems"
    [popup]="true"
>
    <ng-template
        #item
        let-item
    >
        <a
            pRipple
            [routerLink]="item.route"
            class="p-menu-item-link flex items-center"
        >
            <span [class]="item.icon"></span>
            <span class="ml-2 block w-full">{{ item.label | translate }}</span>
            <p-badge
                *ngIf="item.badge"
                class="ml-auto"
                [value]="item.badge"
            />
        </a>
    </ng-template>
</p-menu>

<ng-template #btnLogin>
    <p-button
        iconPos="right"
        [label]="'common.login' | translate"
        variant="text"
        (onClick)="login()"
    />
</ng-template>

<ng-template #toggleDarkLight>
    <p-button
        icon="pi {{ (isDarkMode | async) ? 'pi pi-moon' : 'pi pi-sun' }}"
        [rounded]="true"
        [text]="true"
        (onClick)="toggleLightDark()"
    />
</ng-template>

<ng-template #selectLanguage
    ><p-select
        class="min-w-[128px] dark:bg-black"
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        (onChange)="changeLanguage($event.value)"
        optionLabel="display"
    />
</ng-template>
