<app-header></app-header>

<div class="h-dvh max-h-dvh pt-28 lg:pt-14">
    <div
        class="container mx-auto grid h-full grid-cols-5 gap-4 px-4 pt-6 sm:px-6"
    >
        <div
            class="hidden overflow-y-hidden"
            [class.lg:block]="authenticated | async"
        >
            @if (authenticated | async) {
                <app-sidebar></app-sidebar>
            }
        </div>
        <div
            class="no-scrollbar col-span-5 overflow-auto"
            [class.lg:col-span-4]="authenticated | async"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<p-toast />
