<app-header></app-header>

<div class="h-dvh max-h-dvh pt-14">
    <div class="container mx-auto grid h-full grid-cols-5 gap-4 px-4 pt-6 sm:px-6">
        <div
            class="hidden overflow-y-auto"
            [class.lg:block]="authenticated && emailVerified | async"
        >
            @if (authenticated | async) {
                <app-sidebar></app-sidebar>
            }
        </div>
        <div
            class="col-span-5 overflow-auto"
            [class.lg:col-span-4]="authenticated && emailVerified | async"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<p-toast />
