<div *ngIf="enterprise">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div>
            <h2 class="mb-4 text-xl font-semibold text-primary">{{ 'enterprise.create.title' | translate }}</h2>
            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.name"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.name' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.enterpriseEmail"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.email' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.hotline"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.hotline' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.address"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.address' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.taxCode"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.taxCode' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel
                class="my-2 block cursor-pointer"
                (click)="openLicenseUrl()"
            >
                <input
                    pInputText
                    [value]="enterprise.businessLicenseImageUrl"
                    class="w-full cursor-pointer text-primary"
                    readonly
                    autocomplete="off"
                />
                <label
                    >{{ 'enterprise.create.businessLicenseImageUrl' | translate }}
                    <i class="pi pi-cloud-download text-sm"></i
                ></label>
            </p-iftalabel>
        </div>

        <div>
            <h2 class="mb-4 text-xl font-semibold text-primary">
                {{ 'enterprise.create.representative' | translate }}
            </h2>
            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.representativeName"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.representativeName' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.representativePosition"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.representativePosition' | translate }}</label>
            </p-iftalabel>

            <p-iftalabel class="my-2 block">
                <input
                    pInputText
                    [(ngModel)]="enterprise.representativeContact"
                    class="w-full"
                    readonly
                    autocomplete="off"
                />
                <label>{{ 'enterprise.create.representativeContact' | translate }}</label>
            </p-iftalabel>
        </div>
    </div>

    <div class="mt-6 flex justify-end">
        <p-button
            label="{{ 'common.cancel' | translate }}"
            styleClass="p-button-secondary"
            (onClick)="this.close()"
        ></p-button>
    </div>
</div>
