<div *ngIf="buildingGroup">
    <div>
        <p-button
            icon="pi pi-arrow-left"
            label="{{ 'common.back' | translate }}"
            (click)="goBack()"
            severity="primary"
            outlined="true"
            size="small"
        ></p-button>
    </div>
    <div
        class="flex items-center justify-between border-b pb-1"
        style="min-height: 42px"
    >
        <div class="text-lg font-bold text-primary">
            {{ "enterprise.buildings.group.title" | translate }}
        </div>
    </div>
    <div class="my-2 flex flex-col lg:flex-row">
        <div class="m-2 md:w-1/2">
            <p-card
                styleClass="shadow-lg rounded-xl overflow-hidden h-full w-full"
            >
                <!-- Header -->
                <ng-template pTemplate="header">
                    <div
                        class="bg-gradient-to-r from-blue-50 to-blue-100 p-6 dark:bg-gradient-to-r dark:from-gray-800 dark:to-blue-900"
                    >
                        <div class="mb-3 flex items-center gap-3">
                            <i
                                class="pi pi-home text-2xl text-blue-600 dark:text-blue-300"
                            ></i>
                            <h2
                                class="text-2xl font-bold text-blue-900 dark:text-white"
                            >
                                {{ buildingGroup.name }}
                            </h2>
                        </div>
                        <div class="flex items-start gap-2">
                            <i
                                class="pi pi-info-circle mt-1 text-gray-600 dark:text-gray-300"
                            ></i>
                            <p class="text-sm text-gray-600 dark:text-gray-300">
                                <span class="font-medium"
                                    >{{
                                        "buildingGroup.description" | translate
                                    }}:</span
                                >
                                {{ buildingGroup.description || "-" }}
                            </p>
                        </div>
                    </div>
                </ng-template>

                <!-- Content -->
                <div class="space-y-5 p-2">
                    <!-- Building Information in Fieldset -->
                    <div class="flex items-center gap-3">
                        <i class="pi pi-building text-lg text-blue-500"></i>
                        <span class="font-medium">
                            {{ "buildingGroup.building.name" | translate }}:
                        </span>
                        <span>{{ buildingGroup.building?.name || "-" }}</span>
                    </div>
                    <div class="flex items-center gap-3">
                        <i class="pi pi-map-marker text-lg text-blue-500"></i>
                        <span class="font-medium">
                            {{ "buildingGroup.building.address" | translate }}:
                        </span>
                        <span>{{
                            buildingGroup.building?.address || "-"
                        }}</span>
                    </div>
                </div>

                <!-- Footer -->
                <ng-template pTemplate="footer">
                    <div class="flex gap-4 border-t border-gray-200 p-6">
                        <p-button
                            label="{{
                                'buildingGroup.enterprise.buildings.group.item.new'
                                    | translate
                            }}"
                            icon="pi pi-plus"
                            severity="primary"
                            outlined
                            styleClass="w-full transition-colors duration-200"
                            (onClick)="openNewGroupItem()"
                            size="small"
                        ></p-button>
                        <p-button
                            label="{{
                                'buildingGroup.enterprise.emission.activity.new'
                                    | translate
                            }}"
                            icon="pi pi-plus"
                            severity="primary"
                            styleClass="w-full transition-colors duration-200"
                            (onClick)="openNewActivityDialog()"
                            size="small"
                        ></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="m-2 md:w-1/2">
            <p-card
                styleClass="shadow-lg rounded-xl overflow-hidden h-full w-full"
            >
                <!-- Header -->
                <ng-template pTemplate="header">
                    <div
                        class="flex items-center gap-3 bg-gradient-to-r from-blue-50 to-blue-100 p-6 dark:bg-gradient-to-r dark:from-gray-800 dark:to-blue-900"
                    >
                        <p-image
                            src="assets/images/icon/tenant.png"
                            alt="Tenant Logo"
                            width="32"
                            height="32"
                            styleClass="rounded-full"
                        />
                        <h2
                            class="text-xl font-bold text-blue-900 dark:text-white"
                        >
                            {{ "tenant.information" | translate }}
                        </h2>
                    </div>
                </ng-template>

                <!-- Content -->
                <div class="p-2">
                    <ng-container *ngIf="buildingGroup.tenant; else noTenant">
                        <div class="space-y-5">
                            <div class="flex items-center gap-3">
                                <i class="pi pi-home text-lg text-blue-500"></i>
                                <span class="font-medium">
                                    {{ "tenant.building" | translate }}
                                </span>
                                <span class="text-primary">{{
                                    buildingGroup.tenant.name || "-"
                                }}</span>
                            </div>
                            <div class="flex items-center gap-3">
                                <i
                                    class="pi pi-envelope text-lg text-blue-500"
                                ></i>
                                <span class="font-medium">
                                    {{ "tenant.email" | translate }}
                                </span>
                                <span class="text-primary">{{
                                    buildingGroup.tenant.email || "-"
                                }}</span>
                            </div>
                            <div class="flex items-center gap-3">
                                <i
                                    class="pi pi-phone text-lg text-blue-500"
                                ></i>
                                <span class="font-medium">
                                    {{ "tenant.hotline" | translate }}
                                </span>
                                <span class="text-primary">{{
                                    buildingGroup.tenant.hotline || "-"
                                }}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noTenant>
                        <div class="flex items-center justify-center py-3">
                            <i class="pi pi-exclamation-circle mr-2"></i>
                            <span>{{ "tenant.noTenant" | translate }}</span>
                        </div>
                    </ng-template>
                </div>

                <!-- Footer -->
                <ng-template pTemplate="footer">
                    <div
                        *ngIf="userRole === UserRole.ENTERPRISE_OWNER"
                        class="flex justify-end gap-4 border-t border-gray-200 p-6"
                    >
                        <p-button
                            *ngIf="buildingGroup.tenant"
                            label="{{ 'tenant.detail' | translate }}"
                            icon="pi pi-eye"
                            severity="primary"
                            outlined
                            styleClass="transition-colors duration-200"
                            (onClick)="navigateToTenantDetail()"
                            size="small"
                        ></p-button>
                        <p-button
                            *ngIf="!buildingGroup.tenant"
                            label="{{ 'tenant.assign' | translate }}"
                            icon="pi pi-user-plus"
                            severity="primary"
                            styleClass=" transition-colors duration-200"
                            (onClick)="navigateToAssignTenant()"
                            size="small"
                        ></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>

<table-template
    [fetch]="fetchActivity"
    [columns]="cols"
    [searchOnInit]="false"
    [captionTemplateRef]="captionTemplateRef"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [triggerClearSelected]="clearSelectedEvent"
    (selectionChange)="onSelectionChange($event)"
    [checkbox]="true"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="searchCriteria.name"
                    placeholder="{{ 'common.search' | translate }}"
                    (keydown.enter)="searchEvent.emit()"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="searchEvent.emit()"
            />
        </div>
        <div class="flex gap-2.5">
            <p-button
                severity="danger"
                [label]="
                    selected.length
                        ? ('enterprise.emission.activity.deleteWithCount'
                          | translate: { count: selected.length })
                        : ('enterprise.Users.delete' | translate)
                "
                icon="pi pi-trash"
                outlined
                [disabled]="!selected || !selected.length"
                (onClick)="confirmDelete()"
                size="small"
            />
        </div>
    </div>
</ng-template>
<ng-template #actionsTemplate let-activity>
    <p-button
        icon="pi pi-file-edit"
        [rounded]="true"
        [text]="true"
        severity="contrast"
        (onClick)="openActivityDetailsDialog(activity)"
    />
</ng-template>
<ng-template #typeTemplate let-activity>
    <span *ngIf="activity.type">{{ activity?.type.name }}</span>
</ng-template>
