<p-floatlabel variant="in">
    <textarea
        pTextarea
        id="over_label"
        [(ngModel)]="powerBiEmbedded"
        rows="7"
        cols="50"
        style="resize: none"
        class="h-full"
    ></textarea>
    <label for="over_label">{{ "powerBi.embeddedIfFrame" | translate }}</label>
</p-floatlabel>

@if (powerBiEmbedded && !isValid()) {
    <div class="min-h-6 text-red-600">
        {{ "powerBi.invalidIfFrame" | translate }}
    </div>
}

<small>
    <p>{{ "powerBi.pastedIfFrame" | translate }}</p>
    <p>{{ "powerBi.makeSure" | translate }}</p>
    <p>{{ "powerBi.example" | translate }}</p>
    <pre>
        &lt;iframe
            width="800"
            height="600"
            src="https://app.powerbi.com/reportEmbed..."
            frameborder="0"
            allowFullScreen="true"&gt;
        &lt;/iframe&gt;
    </pre>
</small>

<div class="flex justify-end gap-4">
    <p-button size="small" (onClick)="close()" outlined>{{
        "powerBi.close" | translate
    }}</p-button>
    <p-button
        size="small"
        [raised]="true"
        (onClick)="submit()"
        [disabled]="!isValid()"
        >{{ "powerBi.submit" | translate }}</p-button
    >
</div>
