<h1 class="font-bold text-lg text-primary">
    {{ "enterprise.emission.activity.dialog.EmissionFactor" | translate }}
</h1>
<table-template
    *ngIf="!applicationService.isMobile()"
    [fetch]="fetchEmissionFactor"
    [columns]="cols"
    [sort]="undefined"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [captionTemplateRef]="captionTemplateRef"
    (selectionChange)="onSelectionChange($event)"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    [(ngModel)]="searchCriteria.criteria"
                    type="text"
                    pInputText
                    placeholder="Search"
                    (keydown.enter)="search()"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="search()"
            />
        </div>
        <div class="flex gap-2.5"></div>
    </div>
</ng-template>
<ng-template #actionsTemplate let-rowData>
    <div class="flex items-center gap-2">
        <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="onEdit(rowData)"
        />
        <p-inputSwitch
            [ngModel]="rowData.active"
            (onChange)="onDelete(rowData)"
        ></p-inputSwitch>
    </div>
</ng-template>
<ng-template #emissionSourceTemplate let-data>
    {{ getLocalizedEmissionSourceName(data.emissionSourceDTO) }}
</ng-template>

<ng-template #energyConversionTemplate let-data>
    {{ getLocalizedFuelName(data.energyConversionDTO.fuel) }}
</ng-template>

<ng-template #isDirectEmissionTemplate let-data>
    <p-checkbox
        [binary]="true"
        [ngModel]="data.isDirectEmission"
        [disabled]="true"
    ></p-checkbox>
</ng-template>
<ng-template #nameTemplate let-data>
    {{ getLocalizedEmissionFactorName(data) }}
</ng-template>
<ng-template #startDateTemplate let-data>
    <p>{{ data.validFrom | date: "dd.MM.yyyy" }}</p>
</ng-template>
<ng-template #endDateTemplate let-data>
    <p>{{ data.validTo | date: "dd.MM.yyyy" }}</p>
</ng-template>
