<master-layout title="enterprise.emission.activity.dialog.EmissionFactor">
    <div subtitle>{{ 'admin.emissionFactor.description1' | translate }}</div>
    <!--    <div class="my-2 flex items-center justify-center">-->
    <!--                <h3 class="my-2 font-semibold text-primary">-->
    <!--                    {{ 'admin.emissionSource.upload.title' | translate }}-->
    <!--                </h3>-->
    <!--         import.component.html -->
    <!--    </div>-->
    <table-template
        [fetch]="fetchEmissionFactor"
        [columns]="cols"
        [sort]="undefined"
        [criteria]="searchCriteria"
        [triggerSearch]="searchEvent"
        [captionTemplateRef]="captionTemplateRef"
        (selectionChange)="onSelectionChange($event)"
    >
    </table-template>
</master-layout>

<ng-template #captionTemplateRef>
    <div class="flex flex-col items-end justify-between gap-2 *:w-full lg:flex-row lg:items-center">
        <p-inputgroup>
            <input
                [(ngModel)]="searchCriteria.criteria"
                type="text"
                pInputText
                placeholder="{{ 'common.search' | translate }}"
                (keydown.enter)="search()"
            />
            <p-inputgroup-addon>
                <p-button
                    icon="pi pi-search"
                    severity="secondary"
                    text
                    (onClick)="searchEvent.emit()"
                />
            </p-inputgroup-addon>
        </p-inputgroup>
        <div class="flex justify-between gap-2 lg:justify-end">
            <!--            <p-button-->
            <!--                severity="secondary"-->
            <!--                [label]="'admin.emissionSource.uploadToMinio' | translate"-->
            <!--                icon="pi pi-upload"-->
            <!--                outlined-->
            <!--                (onClick)="fileInput.click()"-->
            <!--                size="small"-->
            <!--            />-->
            <!--            <input-->
            <!--                #fileInput-->
            <!--                type="file"-->
            <!--                accept=".xlsx"-->
            <!--                style="display: none"-->
            <!--                (change)="uploadExcelToMinio($event)"-->
            <!--            />-->
            <p-fileUpload
                name="file"
                accept=".xlsx"
                mode="basic"
                chooseIcon="pi pi-upload"
                [customUpload]="true"
                (uploadHandler)="uploadExcel($event)"
                [chooseLabel]="'admin.emissionSource.upload.chooseFile' | translate"
                [auto]="true"
                [maxFileSize]="5000000"
            >
            </p-fileUpload>
            <p-button
                severity="secondary"
                [label]="'admin.emissionSource.downloadFile' | translate"
                icon="pi pi-download"
                outlined
                (onClick)="onDownloadFile()"
                size="small"
            />
        </div>
    </div>
</ng-template>
<ng-template
    #actionsTemplate
    let-rowData
>
    <div class="flex items-center gap-2">
        <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="onEdit(rowData)"
        />
        <p-inputSwitch
            [ngModel]="rowData.active"
            (onChange)="onDelete(rowData)"
        ></p-inputSwitch>
    </div>
</ng-template>
<ng-template
    #emissionSourceTemplate
    let-data
>
    {{ getLocalizedEmissionSourceName(data.emissionSourceDTO) }}
</ng-template>

<ng-template
    #energyConversionTemplate
    let-data
>
    <span *ngIf="data.energyConversionDTO">
        {{ getLocalizedFuelName(data.energyConversionDTO.fuel) }}
    </span>
</ng-template>

<ng-template
    #isDirectEmissionTemplate
    let-data
>
    <p-checkbox
        [binary]="true"
        [ngModel]="data.directEmission"
        [disabled]="true"
    ></p-checkbox>
</ng-template>
<ng-template
    #nameTemplate
    let-data
>
    {{ getLocalizedEmissionFactorName(data) }}
</ng-template>
<ng-template
    #startDateTemplate
    let-data
>
    <p>{{ data.validFrom | date: 'dd.MM.yyyy' }}</p>
</ng-template>
<ng-template
    #endDateTemplate
    let-data
>
    <p>{{ data.validTo | date: 'dd.MM.yyyy' }}</p>
</ng-template>
