<div class="mb-4 flex items-center justify-start border-b pb-1">
    <h1 class="text-lg font-bold text-primary">
        {{ 'sidebar.admin.accountManagement' | translate }}
    </h1>
</div>
<div>
    <p>{{ 'admin.account.description' | translate }}</p>
</div>
<table-template
    [fetch]="fetchUsers"
    [columns]="cols"
    [sort]="undefined"
    [criteria]="searchCriteria"
    [triggerSearch]="searchEvent"
    [captionTemplateRef]="captionTemplateRef"
    [checkbox]="false"
    (selectionChange)="onSelectionChange($event)"
>
</table-template>
<ng-template #captionTemplateRef>
    <div class="flex items-center justify-between">
        <div class="flex gap-2.5">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    [(ngModel)]="searchCriteria.criteria"
                    type="text"
                    pInputText
                    placeholder="{{ 'common.search' | translate }}"
                    (keydown.enter)="search()"
                />
            </p-iconfield>
            <p-button
                severity="primary"
                [label]="'enterprise.Users.search' | translate"
                icon="pi pi-search"
                outlined
                (onClick)="search()"
            />
        </div>
    </div>
</ng-template>
