<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{signup.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:style="'background-image: url(img/background.jpg)'"
     class="flex items-center justify-center min-h-screen py-8 px-4 bg-no-repeat bg-cover">
    <div class="flex flex-col items-center w-full h-full max-w-5xl">
        <!-- Sign-Up Form Section -->
        <div class="bg-white p-6 rounded-xl w-full lg:w-1/2">
            <h2 class="text-center text-primary text-5xl font-black font-inter mt-6 mb-3 uppercase"
                th:text="#{signup.title}"></h2>
            <form id="form" role="form" th:action="@{/signup}" method="post" th:object="${signupDTO}" class="flex flex-wrap">
                <div class="w-full">
                    <!-- Email -->
                    <div class="p-4 flex flex-col w-full">
                        <label class="block mb-0.5 font-medium relative text-slate-700 after:absolute after:content-['*'] after:text-red-500 after:pl-0.5"
                               for="email" th:text="#{signup.placeholder.email}"></label>
                        <input type="email" required
                               class="w-full h-10 px-3 border outline-none  shadow-[0px_0px_15px_rgba(0,0,0,0.05)] rounded focus:ring focus:ring-primary"
                               id="email" name="email" th:field="*{email}" th:placeholder="#{signup.placeholder.email}">
                        <p th:if="${#fields.hasErrors('email')}" class="w-full text-red-500 text-sm mt-1" th:errors="*{email}"></p>
                    </div>
                    <!-- Password -->
                    <div class="p-4 flex flex-col w-full">
                        <label class="block mb-0.5 font-medium relative text-slate-700 after:absolute after:content-['*'] after:text-red-500 after:pl-0.5"
                               for="password" th:text="#{signup.placeholder.password}"></label>
                        <input type="password" required
                               class="w-full h-10 px-3 border outline-none shadow-[0px_0px_15px_rgba(0,0,0,0.05)] rounded focus:ring focus:ring-primary"
                               id="password" name="password" th:field="*{password}" th:placeholder="#{signup.placeholder.password}">
                        <p th:if="${#fields.hasErrors('password')}" class="w-full text-red-500 text-sm mt-1" th:errors="*{password}"></p>
                    </div>
                    <!-- Confirm Password -->
                    <div class="p-4 flex flex-col w-full">
                        <label class="block mb-0.5 font-medium relative text-slate-700 after:absolute after:content-['*'] after:text-red-500 after:pl-0.5"
                               for="confirmPassword" th:text="#{signup.placeholder.confirmPassword}"></label>
                        <input type="password" required
                               class="w-full h-10 px-3 border outline-none shadow-[0px_0px_15px_rgba(0,0,0,0.05)] rounded focus:ring focus:ring-primary"
                               id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" th:placeholder="#{signup.placeholder.confirmPassword}">
                        <p th:if="${#fields.hasErrors('confirmPassword')}" class="w-full text-red-500 text-sm mt-1" th:errors="*{confirmPassword}"></p>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="flex items-center justify-center" th:if="${errorMsg}">
                        <div class="animate-fadeIn bg-red-100 w-full border border-red-400 text-red-700 px-4 py-3 rounded relative mt-4">
                            <span th:text="#{${errorMsg}}"></span>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p class="text-gray-700 font-inter">
                            <span th:text="#{signup.label.existingAccount}"></span>
                            <a th:href="@{/login}" class="text-primary hover:underline" th:text="#{signup.btn.login}"></a>
                        </p>
                    </div>
                    <div class="flex items-center justify-center">
                        <button type="submit"
                                class="w-full lg:max-w-[120px] max-w-[160px] mt-4 bg-primary font-inter text-white py-2 px-4 rounded hover:bg-primary-dark focus:ring focus:ring-primary focus:outline-none"
                                th:text="#{signup.btn.signup}">
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a th:href="@{''(lang=en)}" class="text-primary font-inter hover:underline"
                   th:text="#{language.english}">English</a> |
                <a th:href="@{''(lang=vi)}" class="text-primary font-inter hover:underline" th:text="#{language.vietnamese}">Vietnamese</a>
                |
                <a th:href="@{''(lang=zh)}" class="text-primary font-inter hover:underline"
                   th:text="#{language.chinese}">Chinese</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
